textarea.form-control {
    width: 100%;
    max-width:100%;
    height: 210px;
    max-height: 210px;
}

.line-through{
	text-decoration: line-through;
	opacity: 0.6;
}

.erased{
	color: rgba(128, 128, 128, 0.49);
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('../img/loading.gif')
                50% 50%
                no-repeat;
}

body.loading{
    overflow: hidden;
}

body.loading .modal {
    display: block;
}